body{
    font-family: sans-serif;
    font-size: 30px;
    background-color: #0f0e17;
}


#app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

button{
    padding: 15px;
    border-radius: 15px;
    color: white;
    background-color: #ff8906;
}

.color-red{
    color: red;
}

.color-orange{
    color: #ff8906;
}